/* stylesheet for index.html*/

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*.body{
    font-family: 'Bai Jamjuree', sans-serif;
}*/

body {
    margin: 0 auto;
    font-family: 'Bai Jamjuree', sans-serif;
    height: fit-content;
    background-color: #ffff;
}

header {
    text-align: center;
    background-image: url("images/bg-header-desktop.png");
    background-size: 1440px 380px;
    background-repeat: no-repeat;
}

header img {
    margin-top: 90px;
    margin-bottom: 40px;
}

.top {
    text-align: center;
}

.top-heading {
    font-size: 42px;
    word-spacing: 5px;
    font-family: "Bai Jamjuree";
}

.btn-ios {
    border-radius: 30px;
    border: 1px;
    color: white;
    background-color: hsl(171, 66%, 44%);
    ;
    width: 210px;
    height: 50px;
    letter-spacing: 1px;
    box-shadow: 3px 3px hsl(171, 66%, 44%);
}

.btn-mac {
    border-radius: 30px;
    color: white;
    background-color: hsl(223, 100%, 69%);
    border: 1px;
    width: 210px;
    height: 50px;
    letter-spacing: 1px;
    margin-left: 20px;
    box-shadow: 4px 4px hsl(223, 100%, 69%);
    ;
}

.btn {
    margin-top: 20px;
}

.middle {
    text-align: center;
    margin-top: 150px;
}

.middle-heading {
    font-size: 32px;
    word-spacing: 2px;
    font-weight: 600px;
}

.image-computer {
    width: 650px;
    height: 500px;
    margin-left: 15px;
}

.content-container {
    display: inline-flex;
    margin-top: 80px;
}

.content {
    float: right;
    margin-left: 130px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
}

.content h2 {
    margin-bottom: 20px;
    font-weight: 600px;
}

.access {
    text-align: center;
    margin-top: 130px;
}

@media only screen and (max-width:375px) {
    body {
        margin: auto 0;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
    }
    .btn-mac {
        margin-right: 15px;
    }
    .btn {
        width: 90%;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content-container img {
        width: 90%;
    }
    .content,
    .acesss {
        margin: auto 0;
    }
    .header {
        background-image: url("/images/bg-header-mobile.png");
    }
    .top-heading {
        font-size: 32px;
    }
}

@media only screen and (max-width:756px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
    .content-container img {
        width: 90%;
    }
    .content {
        margin-top: 20px;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .btn {
        width: 90%;
    }
}


/* My part */

.constImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.250em 0;
}

.super-text h2 {
    font-size: 2.22rem !important;
    font-weight: 600 !important;
    color: #525252;
}

.super-text p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #979797;
}

.creat-cards {
    display: flex;
    flex-direction: row;
}

.create-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
    padding: 2rem 0.75rem 4rem 0.75rem;
    width: 50%;
}

.create-item img {
    padding: 48px 12px;
    width: 80px;
    height: 160px;
}

.create-item p {
    color: #979797;
    font-size: 1.2rem;
    width: 80%;
}

.create-item h3 {
    color: #525252;
    font-size: 1.4rem;
    padding: 0px 0px 12px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo img {
    margin: auto 40px;
    padding: 4rem 0.75rem 4rem 0.75rem;
}

.clipboard-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clipboard-text p {
    color: #979797;
    font-size: 1.2rem;
    font-weight: 400;
    width: 720px;
    height: 64px;
    align-self: center;
    text-align: center;
}

.clipboard-text h2 {
    font-size: 2.22rem;
    color: #525252;
    padding: 0px 0px 20px;
    text-align: center !important;
}

.buton-clas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.buton-clas .buton1 {
    padding: 14.4px;
    width: 210px;
    height: 48px;
    margin: 8px;
    border-radius: 30px;
    background-color: #00bdaa;
    color: white;
    border: none;
    text-align: center;
}

.buton-clas .buton2 {
    padding: 14.4px;
    width: 210px;
    height: 48px;
    margin: 8px;
    border-radius: 30px;
    background-color: #6b76ff;
    color: white;
    border: none;
    text-align: center;
}

.buton-clas .buton1:hover {
    background-color: #00918e;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
    color: white;
}

.buton-clas .buton2:hover {
    background-color: #9656a1;
    color: white;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.5);
}

footer {
    background: #e8e8e8;
    margin-top: 4rem;
}

.footer-elements {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    color: #979797;
    font-size: 1rem;
    font-weight: 600;
}

.link:hover {
    color: #3c4245;
    opacity: 0.6;
    text-decoration: none;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    margin: 2rem 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.socials .img1 {
    margin-left: 2rem;
}

@media only screen and (max-width:780px) {
    .creat-cards {
        display: flex;
        flex-direction: column;
    }
    .create-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.5rem auto;
        padding: 1.5rem;
        width: 100%;
    }
    .buton-clas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width:600px) {
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo img {
        margin: auto 40px;
        padding: 4rem 0.75rem 4rem 0.75rem;
    }
    .clipboard-text p {
        color: #979797;
        font-size: 1.2rem;
        font-weight: 400;
        width: 90%;
        height: 64px;
        margin-bottom: 3rem;
        align-self: center;
        text-align: center;
    }
    .clipboard-text h2 {
        font-size: 2.22rem;
        color: #525252;
        padding: 0px 0px 20px;
        margin: 0 5px;
        text-align: center !important;
    }
    .footer-elements {
        display: flex;
        flex-direction: column;
    }
    .footer-logo img {
        width: 50px;
        height: 50px;
        margin: 1rem auto;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }
    .link :hover {
        color: #9656a1;
    }
    .socials {
        margin: 1rem auto;
    }
    .socials .img1 {
        margin-left: 0.75rem;
    }
}